@media screen and (prefers-color-scheme: dark) {
    html {
        background-color: #232326;
        color: whitesmoke;
    }
    
    code {
        background-color: #39383d;
    }

    .fancy-border {
        border: 0.15rem #39383d dashed;
    }

    #tech-selection > div{
        background-color: rgba(255, 255, 255, 0.1) ;
    }

    #tech-selection > div:hover {
        background-color: rgba(255, 255, 255, 0.3) ;
    }
}
