@media (max-width: 1000px) {
    footer {
        margin-top: 3rem;
    }

    footer div.golang-is-awesome {
        float: none !important;
        display: block !important;
    }

    footer div.golang-is-awesome img {
        float: right !important;
        width: 10rem !important;
    }

    body {
        padding: 2rem;
    }

    html, li, input, label {
        font-size: 1.5rem !important;
    }

    #tech-selection > div {
        flex: 50% !important;
    }
}
