/**
 * THE BEST CSS COMMENTS YOU'VE EVER SEEN
 * Table of Contents:
 *     1.0 - Fonts
 *     2.0 - Body
 *     3.0 - Header
 *     4.0 - Projects
 *     5.0 - Footer
 *     6.0 - Technologies Used
 *     7.0 - Fancy Borders
 */

/** 
 * 1.0 - Fonts:
 *  Ubuntu Mono,
 *  Ubuntu
 */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html {
    font-family: Ubuntu, sans-serif;
    font-size: 0.9rem;
}

code {
    font-family: Ubuntu Mono, monospace;
    background-color: whitesmoke;
}

/**
 * 2.0 - Body
 */
body {
    max-width: 50rem;
    margin: auto;
    padding: 1rem;
}

a {
    color: #3a5afc
}

/**
 * 3.0 - Header
 * Change the font, text alignment, and font size to make it more apparent that it is a headr
 */

.header {
    font-family: Ubuntu Mono, monospace;
    text-align: center;
    margin-bottom: 0.25rem;
}

h1.header {
    font-size: 4.25rem;
}

p.header {
    font-size: 2.25rem;
    margin-top: 0;
    text-align: center;
}

ul.header {
    font-size: 1.5rem;
    padding-left: 0;
}

ul.header :first-child {
    margin-left: 0;
}

ul.header :last-child {
    margin-right: 0;
}

/**
 * 4.0 - Projects
 */

#projects > section {
    padding: 0 1rem;
    margin-bottom: 1rem;
    transition: 0.25s ease-out;
}

#projects > section:hover {
    border-color: green;
    background-color: rgba(0, 255, 0, 0.025);
}

#projects > section.disabled {
    display: none;
}

/**
 * 5.0 - Footer
 */

footer div.golang-is-awesome {
    display: flex;
    flex-direction: row;
    float: right;
}

footer div.golang-is-awesome img {
    width: 6rem;
}

/**
 * 6.0 - Technologies Used
 */
ul.techs-used {
    list-style-type: none;  
    padding-left: 0;
    font-style: italic;
}

ul.techs-used li {
    display: inline-block;
    margin: 0.25rem;
    transition: 0.1s ease-out;
}

ul.techs-used li.searched {
    background-color: rgba(252, 230, 68, 0.2) !important;
    border-color: rgb(252, 230, 68) !important;
}

#projects > section:hover ul.techs-used li {
    border-color: green;
    background-color: rgba(0, 255, 0, 0.025);
}

/**
 * 7.0 - Fancy Borders
 */
.fancy-border {
    border-radius: 0.5rem;
    border: 0.15rem #b5b7bc dashed;
    padding: 0.5rem;
}

input[type=checkbox] {
    display: none
}

/** 
 * 8.0 - Tech Selection
 */
#tech-selection {
    display: flex;
    flex-wrap: wrap;
}

#tech-selection > div{
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0.7rem;
    transition: 0.1s ease;
}

#tech-selection > div{
    background-color: rgba(0, 0, 0, 0.02);
    transition: 0.25s ease-out;
    border-radius: 0.5rem;
    display: flex;
    min-width: 5rem;
    height: 2.5rem;

    padding: 0 !important;
    border-radius: 0.5rem;
    border: 0.15rem rgba(252, 230, 68, 0) dashed;
}

#tech-selection > div > label {
    align-content: center;
    text-align: center;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    cursor: pointer;
}

#tech-selection > div:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.input-checked {
    background-color: rgba(252, 230, 68, 0.2) !important;
    border: 0.15rem rgba(252, 230, 68, 1) dashed !important;
}

/**
 * 9.0 - Contacts list
 */
ul.contacts-list li {
    display: inline-block;
    margin: 0 1rem;
}
